{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Block to set title of the page-->
    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="{% static '/images/navbar_logo.png' %}">

    <!--Link to css source files-->
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    <!--Link to the templets-->
    <link rel="stylesheet" href="{% static '/storeTemplate/css/googlefonts.css' %}">
    <link rel="stylesheet" href="{% static '/storeTemplate/css/fontawsome.css' %}">
    <link rel="stylesheet" href="{% static '/storeTemplate/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'storeTemplate/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'storeTemplate/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'storeTemplate/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'storeTemplate/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'storeTemplate/css/style.css' %}">

    <!--Block to add the external CSS file links-->
	{% block store_stylesheet_link %}{% endblock store_stylesheet_link %}

    <!--Block to add Intenal CSS-->
	{% block store_extra_style %}{% endblock store_extra_style %}

</head>

<body>

	{% block body %}{% endblock body %}

    <!--Link to the Javascript source file-->
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/fontawesome/js/fontawesome.min.js' %}"></script>

    <script src="{% static '/vendor/jquery/jquery.js' %}"></script>

    <!--link of the templete js-->
    <script src="{% static 'storeTemplate/js/jquery.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/popper.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/scrollax.min.js' %}"></script>
    <script src="{% static 'storeTemplate/js/main.js' %}"></script>

	{% block store_js_link %}{% endblock store_js_link %}
	{% block store_extra_js %}{% endblock store_extra_js %}
</body>

</html>